.button {
  margin: 1rem 0 0 auto;
  display: block;
  width: 35px;
  height: 35px;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-family: Roboto, sans-serif;
  border: none;
  font-size: 2.5rem;
}
